/* Drawing area properties. */
#drawing-area {
	border: 1px solid black;
	width: 712px;
    position: relative;
    height: 600px;
    user-select: none;
}

/* Box properties and their variants. */
.box {
    border: thin solid black;
    position: absolute;
}

.box-highlight {
    box-shadow: 0px 0px 6px #88F;
}

